---
version: 2
updates:
  - package-ecosystem: "gradle"
    cooldown:
      default-days: 7
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      minor-patch-group:
        update-types:
          - "minor"
          - "patch"
  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 7
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      minor-patch-group:
        update-types:
          - "minor"
          - "patch"
