---
name: "Lint Code Base"
"on":
  pull_request:
    branches:
      - "main"
permissions: "read-all"
jobs:
  run-lint:
    runs-on: "ubuntu-latest"
    permissions:
      contents: "read"
      packages: "read"
      statuses: "write"
    steps:
      - name: "Checkout code"
        uses: "actions/checkout@v6"
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: "Lint Code Base"
        uses: "super-linter/super-linter/slim@v8.3.2"
        env:
          LINTER_RULES_PATH: "config/lint"
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_MARKDOWN: false
          VALIDATE_NATURAL_LANGUAGE: false
          VALIDATE_JSCPD: false
          VALIDATE_JAVA: false
          VALIDATE_SQL: false
          VALIDATE_SQLFLUFF: false
          VALIDATE_MARKDOWN_PRETTIER: false
          VALIDATE_YAML_PRETTIER: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_BIOME_FORMAT: false
          GITHUB_ACTIONS_ZIZMOR_CONFIG_FILE: "zizmor.yaml"
          FILTER_REGEX_EXCLUDE: "gradlew"
          DEFAULT_BRANCH: "main"
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
